<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zwz.data.dao.mapper.PermissionMapper">

    <select id="findByUserId" resultType="cn.zwz.data.entity.Permission">
      SELECT DISTINCT menu.id, menu.name, menu.show_always, menu.title, menu.path, menu.icon, menu.type, menu.component, menu.level,
        menu.button_type, menu.parent_id, menu.sort_order, menu.description, menu.status
      FROM a_user user
      LEFT JOIN a_user_role contact ON user.id = contact.user_id
      LEFT JOIN a_role_permission rp ON contact.role_id = rp.role_id
      LEFT JOIN a_permission menu ON menu.id = rp.permission_id
      WHERE user.id = #{userId} AND menu.status = 0
      ORDER BY menu.sort_order ASC
    </select>
</mapper>